html, body {
  overflow-x: hidden;
}

.nav-link{
    color: blueviolet;
}
.navbar-brand img {
    width: 100px;
    height: 100px;
}

.bouton-decouvrir {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.section-title{
    text-align: center;
    margin: 0px 0;
}

.services {
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temoignages{
    text-align: center;
    padding: 12px;
    
}

.title-temoignage{
    padding: 10px;
    margin-top: -20px;
}

.footing {
    background-color: #292929;
    padding-top: 20px;
    text-align: center;
}

.copyright {
    color: white;
    font-size: 14px;
    padding-top: 5px;
}

.card {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}